<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="" alt="">
            </div>
            <div class="sibar-nav">
                <div class="nav-Dashboard"></div>
                <div class="nav-ControlUser"></div>
                <div class="nav-ThietBi"></div>
                <div class="nav-request"></div>
                <div class="nav-caculate"></div>
            </div>
            <div class="sidebar-user">
                <div class="user-avatar">
                    <img src="" alt="">
                </div>
                <h3 class="user-name">N.Hùng</h3>
                <p class="user-role">Admin</p>
                <button class="user-logOut">
                    Đăng Xuất
                    <span></span>
                </button>
            </div>
        </div>
        <div class="main-content">

        </div>
    </div>
</body>
</html>