<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Style/Backend/DashboardStyle.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"></head>
  </head>
  <body>
    <div class="container">
      <div class="sidebar-content">
        <div class="sidebar-content-logo">
          <img src="../../Img/Logo.png" alt="" />
        </div>
        <div class="sidebar-content-nav">
          <div class="nav-active">
            <div class="nav-active-left"></div>
            <div class="nav-active-right"></div>
          </div>
          <div class="nav-menu">
            <div class="nav-menu_Dashboard">
                <i class="fa-solid fa-house"></i>
                <span>DashBoard</span>
            </div>
            <div class="nav-menu_ControlUser">
              <i class="fa-solid fa-user"></i>
              <span>Quản lý người dùng</span>
            </div>
            <div class="nav-menu_ThietBi">
              <i class="fa-solid fa-print"></i>              <span>Thiết bị</span>
            </div>
            <div class="nav-menu_request">
              <i class="fa-solid fa-envelope-open-text"></i>
              <span>Yêu cầu thiết bị</span>
            </div>
            <div class="nav-menu_caculate">
              <i class="fa-solid fa-chart-line"></i>
              <span>Báo cáo - thống kê</span>
            </div>
          </div>
          <div class="nav-user">
            <div class="user-avatar">
              <img src="../../Img/avatar.jpg" alt="" />
            </div>
            <h3 class="user-name">N.Hùng</h3>
            <p class="user-role">Admin</p>
            <button class="user-logOut">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <span>Đăng Xuất</span>
            </button>
          </div>
          
        </div>
      </div>
      <div class="main-content">
        <div class="main-content_title">
          <h1>
            Phần mềm quản lý thiết bị công ty Hương Sắc Việt 
          </h1>
        </div>
        <div class="main-content_dashboard">
          <div class="dashboard-list">
            <div class="dashboard-element">
              <div class="main-element">
                <div class="element-number">51</div>
                <p class="element-sub">Tất cả các thiết bị</p>
              </div>
              <div class="icon-element">
                <i class="fa-solid fa-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
